body
{
    background-color:white;
}

html, body
{
    margin:0;  
    font-size:1em;
}



#logo 
{
    height:100%;
}
header
{
    top:0;
    display:flex;
    position:sticky;
    position:-webkit-sticky;
    background-image: linear-gradient(90deg, #CCC, #FFF);
    height:20vh;
    overflow:visible;
    z-index:100;
}
header #titlu{
    display:inline-block;
    margin:0px 0 0 3vw;
    width: auto;
    height:100%;
    display:none;
	/* border:1vh solid blue; */
}
header #titlu h3
{
    letter-spacing: 2vh;
    font-family: serif;
    font-size:3vh;
    font-weight: 0;
}
header h1::first-letter
{
    font-size:100%;
    color:#AAA;
}
header #titlu h1
{
    font-family: sans-serif;
    font-weight: 0;
    font-size: 6vh;
	margin: 2vh 0 0 0;
}

header #meniu
{
    display:inline-block;
    background-color: yellow;
    width:30vh;
	height:4vh;
	box-shadow: 1vh 2vh 3vh 1vh rgba(0,0,0,0.75);
	filter:blur(0.75vh);
	padding: 3vh 0;
	transform: translateY(55%);
	margin-left:auto;
    margin-right:20vw;
}

header #meniu:hover #dropdown
{
   
    display:block;
    /* transition-delay: 10s; */
    box-shadow: 1vh 2vh 3vh 1vh rgba(0,0,0,0.75);
    top:0;
}
#meniu span
{
	display:block;
	vertical-align: bottom;
	text-align: center;
    font-size: 3vh;
	
}
#dropdown
{
	margin-top:10vh;
	display:none;
	position:absolute;
    z-index:1;

    background-color:rgba(255,255,255,1);
    text-align:center;
    min-width:40vh;
    left:-5vh;
}
#dropdown ul
{
    list-style-type: none;  
    margin:0;
    padding:0;
    display:block;
}
#dropdown ul li
{
    padding:5vh;
    
}
#dropdown ul li:hover
{
    background-color: rgba(200,100,150,0.4);
}
#dropdown ul li a:hover
{
    cursor: pointer;
    color: yellow;
}
#dropdown ul li a
{
    
    text-decoration:none;
}
#dropdown ul li a:visited
{
    color:green;
}


.meniu_selected
{
    background: rgba(144,144,144,1);
}

#meniu:hover
{
	filter:blur(0);
	transition-timing-function: linear;
	transition-duration: 1s ;
	transition-property: filter;
}
#meniu{
	transition-timing-function: linear;
	transition-duration: 0.25s ;
	transition-property: filter;
}












aside
{
    display:inline-block;
    overflow:hidden;
    font-size:1em;
    background-color:rgb(200,200,200);
    height:auto;
    padding-bottom:2vh;
    float:right;
    width:38%;
    transform: translateY(100%);
    text-align:center;
}
section
{
    width:60%;
    display:inline-block;
}




footer
{
    text-align:center;
}

@media only screen and (min-width : 900px ) and (min-height:600px){       /* mobile first, desktop elements last */

    header #titlu
    {
        display:inline-block;
        
    }
    section{
        width:80%;
    }
    aside
    {
        width:18%;
        font-size:1em;
    }

}
